<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="keywords" content="一个人一座城,个人博客,博客,blog"/>
    <title>一个人一座城</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap.min.css">
    <script src="app/lib/jquery/jquery.min.js"></script>
    <script src="app/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="app/lib/angular/angular.min.js"></script>

    <link rel="stylesheet" href="app/css/index/index.css">
    <script src="app/js/index.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="info-toggle" ng-click="events.toggleDesc()">
    <i ng-if="!state.isShowDesc" class="iconfont">&#xe65c;</i>
    <i ng-if="state.isShowDesc" class="iconfont">&#xe60a;</i>
</div>
<div class="header header-visible">
    <div class="info-desc">
        <div class="header_title">
            <h2>一个人一座城</h2>
            <div class="intro_link">
                <span ng-class="{'active-show': state.isActiveAbout}"
                      ng-click="events.show('isActiveAbout')">About</span>
                <span>|</span>
                <span ng-class="{'active-show': state.isActiveIntro}"
                      ng-click="events.show('isActiveIntro')">Introduction</span>
            </div>
        </div>
        <div class="about_page" ng-show="state.isActiveAbout">
            <h3>欢迎来到一个人一座城</h3>
            <p>
                我是进击中的Coder：hope<br>我仅仅是喜欢自己突发奇想的小东西（包括你现在看到的这个网页），你也可以再手机等移动端查看。
                这里也是我进(学)击(习)的地方，有相关资料整理、笔记等，如果你觉得有用，可以随意拿去看看，如果有问题，还麻烦指出错误哦
            </p>
        </div>
        <div class="intro_page" ng-show="state.isActiveIntro">
            <h3>你可以使用下面方式联系我</h3>
            <p>
                如果你在这里看到了我笔记中的问题，或者你也有喜欢的小作品想推荐给我的，都可以联系我<br>
                <strong><i class="iconfont">&#xe65d;</i><a href="mailto:zhang121923@sina.com">:zhang121923@sina.com</a></strong><br/>
                <strong><i class="iconfont">&#xe7e7;</i>:935300065</strong><br/>
            </p>
        </div>
    </div>
</div>
<div class="center">
    <div class="global-title">
        <h2>一个人一座城</h2>
    </div>
    <div class="center-content">
        <a class="page-item kind-item-{{$index + 1}}"
           ng-repeat="item in menuList track by $index"
           href="{{item.href}}" target="_blank"
        >
            <div class="item item-{{$index + 1}}">
                <h3 class="title">{{item.title}}</h3>
                <p class="content">{{item.content}}</p>
                <div ng-click="events.nextPage($index, $event)" class="next-area">
                    <i class="iconfont">&#xe826;</i>
                    <span class="next-area-desc">点此区域查看下一项</span>
                </div>
            </div>
        </a>
    </div>
    <div class="masking" ng-show="state.isActiveAbout || state.isActiveIntro"></div>
</div>
</body>
</html>
