* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("../../img/travel/travelbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .travel-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .page-desc {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 0.267rem 0.533rem;
      backdrop-filter: blur(20px);

      h3 {
        color: #666666;
      }

      small {
        color: #838B8B;
      }

      .page-desc-ad {
        color: #FF7256;
        font-weight: 600;
      }
    }

    .photo-wall {
      width: 100%;
      height: auto;
      min-height: 90%;

      .photo-wall-content {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        .photo-wall-column {
          display: inline-block;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          padding: 0 0.267rem;


          .card {
            position: relative;
            width: 100%;
            padding: 5px 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: baseline;
            border: 1px solid #838B8B;
            margin-bottom: 0.533rem;
            backdrop-filter: blur(10px);

            img {
              width: 99%;
            }

            .card-desc {
              width: 100%;
              color: #555555;

              p {
                color: #696969;
                font-weight: 700;
                word-break: break-all;
              }
            }
          }

        }
      }
    }
  }
}
